<section class="signup-body">
    <div class="signup-container">
        <h2>SIGN IN</h2>
        <form action="/user/login" method="post" class="signup" id="form" >

            <input type="text" name="email" id="email" value="{{userEmail}}" placeholder="Email" autocomplete="off">
            <input type="password" name="password" id="password" value="{{userPassword}}" placeholder="Password" autocomplete="off">
            <input type="submit" value="Submit" class="submit">
            <div class="error"></div>
            {{#if isRegitered}}
                <div class="errorMsg">{{errMessage}}</div>
            {{/if}}

        </form>
    </div>
</section>