<section class="signup-body">
    <div class="signup-container">
    <h2>{{headText}}</h2>
    <form action="/user/save" method="post" class="signup">

        {{#if isSignUp}}
           <input type="text" name="name" id="name" placeholder="Name">
        {{/if}}
           <input type="text" name="email" id="email" placeholder="Email">
           <input type="text" name="password" id="password" placeholder="Password">
           <input type="submit" value="Submit" class="submit">

    </form>
</div>
</section>